body {
    background-color:#9B7EBD;
    font-family: sans-serif;
    font-size:23px;
}
.menu-elements {
font-family: 'Inter';
font-weight: 400;
font-size: 35px;
text-align: center;
color: #FFE1E0;
}

 .menu{
    display: flex;
    justify-content: space-between;
    width:100%;
 }
 header {
    padding: 20px 16px;
box-sizing: border-box;
background: #7F55B1;
border: 1px solid #000000;
text-align: center;
h1{
    color: white;
}
}
.paragraph_title{
 background-color: #F49BAB;
 border-radius: 6px;
 display: inline-block;
}
.p {
    display: flex; 
    align-items: flex-start; 
    gap: 15px; 
    flex-direction: row-reverse;
}
.pr {
     background-color: #7F55B1;
}